*~
*.bak
*.sw[op]
*gz
*.Z
*.rpm
*.zip
*.deb
*.log

CMakeFiles/
CMakeCache.txt
_CPack_Packages/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
install_manifest.txt

/ugh.spec
*.a
/ugh-*.sh

/auto/
/bin/
/build/
/libugh_example.so
/tags
